@page "/editBlog"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ApplicationDbContext _db;

<PageTitle>EditBlog</PageTitle>

<h3>EditBlog</h3>

<EditForm class="w-50" Model="@PostModel" OnValidSubmit="savePostAsync">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-floating mb-3">
		<InputText @bind-Value="PostModel.Title" class="form-control" id="inp1" placeholder="Blíží se Jaro."/>
		<label for="inp1">Titulek</label>
	</div>
	<div class="form-floating mb-3">
		<InputText type="text" @bind-Value="PostModel.Text" class="form-control" id="inp2" placeholder="Už se otepluje a tráva..."/>
		<label for="inp2">Text</label>
	</div>
	<div class="form-check">
		<InputCheckbox type="checkbox" @bind-Value="PostModel.IsOnTop" class="form-check-input" id="flexCheckDefault"/>
		<label class="form-check-label" for="flexCheckDefault">
			Připnuto?
		</label>
	</div>
	<input type="submit" value="Vytvořit příspěvek" class="btn btn-primary my-3">
</EditForm>


@code {
	private PostModel PostModel = new();


	async Task savePostAsync()
	{
		if(PostModel.Title != null)
		{
			await _db.PostModels.AddAsync(PostModel);
			await _db.SaveChangesAsync();
			Navigation.NavigateTo("/Blog");
			Console.Beep();
		}
	}
}
